body {
    background-color: rgb(243, 228, 228);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-custom {
    background-color: #a57070;
}
.navbar-custom .nav-link:hover {
    background-color: #f07f7f;
    border-radius: 5px;
}

h1, h2 { color: #f07f7f; }
p, li, b { color: #c46a6a; }

.foto-home img {
    width: 220px;
    height: 340px;
    border-radius: 15px;
    border: 3px solid #f07f7f;
    object-fit: cover;
}

.foto-bulat img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #f07f7f;
    object-fit: cover;
}

.card-custom {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px !important;
}

.list-item-custom {
    background: transparent;
    color: #c46a6a;
}

.alert-custom {
    background-color: #f9d6d6;
    color: #c46a6a;
    border: 1px solid #f07f7f;
}

.badge-custom {
    background-color: #f07f7f;
    color: white;
}


.btn-pink {
    background-color: #f07f7f;
    color: white;
}
.btn-pink:hover {
    background-color: #e06060;
    color: white;
}
